.content {
  position: relative;
}

.line {
  width: 20%;
}

.line2 {
  width: 20%;
}

/*opaque center*/
.center {
  padding-top: 150px;
  padding-bottom: 150px;
  color: white;
}

.welcome {
  text-align: center;
  letter-spacing: 0.25em;
  /*font settings*/
  font-family: "freight-big-pro", sans-serif;
  font-size: 50px;
  font-weight: 400;

  padding: 5px;
}

.top {
  letter-spacing: 0.15em;
  width: 1000px;
  margin: auto;
  font-family: "URW Chancery L", sans-serif;
  font-size: 25px;
  font-weight: 150;
}

/*divs general*/
.Sections p {
  font-family: "Arial", sans-serif;
  font-weight: bold;
  letter-spacing: 0.1em;
  line-height: 2;
  display: inline-block;
  text-align: center;
  width: 1000px;
}

.Sections h1 {
  font-weight: bold;
  letter-spacing: 0.1em;
}
.DivWhite {
  background-color: white;
  padding: 10px;
}

.DivGrey {
  background-color: rgb(211, 211, 211);
  padding: 10px;
}

/*Projects Div*/
.ExperienceRow{


}

.Work{
  margin: auto;
  width: 800px;
  padding: 20px;
}

.HA a{
  font-family: "Arial", sans-serif;
  font-weight: bold;
  letter-spacing: 0.05em;
  line-height: 0;
  font-size: 24px;

  text-decoration: none;
  color: blue;
}

.LU a{
  font-family: "Arial", sans-serif;
  font-weight: bold;
  letter-spacing: 0.05em;
  line-height: 0;
  font-size: 24px;

  text-decoration: none;
  color: blue;
}

.WorkInfoLeft{
  font-family: "Arial", sans-serif;
  font-weight: bold;
  letter-spacing: 0.05em;
  line-height: 0;

  text-align: left;
  display: inline;
  float:left;
}
.WorkInfoRight{
  font-family: "Arial", sans-serif;
  font-weight: bold;
  letter-spacing: 0.05em;
  line-height: 0;

  text-align: right;
  display: inline;
  float:right;
}

.WorkDescription p1{
  text-align: center;
}
