.footer-container {
     text-align: center;
     color: white;
     position: absolute;
     left: 0;
     bottom: 0;
     height: 40px;
     width: 100%;
     overflow: hidden;
     padding-bottom: 15px;
}

.footer-container2 p{
  line-height: 1em;
  font-size: 10pt;
}
